language: node_js
node_js:
  - '7'
  - '8'
  - 'lts/*'
  - 'node'
before_install:
  - npm install -g grunt-cli bower yo
  - currentfolder=${PWD##*/}
  - if [ "$currentfolder" != 'generator-brei-app' ]; then cd .. && eval "mv $currentfolder generator-brei-app" && cd generator-brei-app; fi
before_script:
  - npm install -g grunt-cli bower yo
  - gem install scss_lint
  - gem install sass --version "=3.4.22"
  - gem install compass --version "=1.0.3"
notifications:
  hipchat:
    rooms:
      secure: MWjJ1XlOqtr6MSR1HCHDp7t2utnF3gKxBb3XxUlFgSrM+XUufkgBmDjAg3dL7ryOLy9FLs2MB8EHx6cUJbyPungxnLlLrUDXl2JiwQwN2D9rb4Pha3u7IaZ+Tmspxieq/TYcpU4e9o2Ny619Q5hFX6lcFyX3e/cRTKqlgCOu5r4=
    notify: true
deploy:
  provider: npm
  email: nessthehero@gmail.com
  api_key:
    secure: PW2nKCrW27DaGn9PREJDLmJcuecpUPFP2lgZ+9AcgQv9qF3v8QdZ675akj4xdfOCCQ1BAk2g1kyZkeXmLR7P5Fs7JnGY1UqjfoBn2BnbOMO1/I1Mt9Z0rRYXT2oUIYV2w4zFLrK9nEkjLX4pmZEneroyRxNy1Z8B31mO12ZJ+fU=
  on:
    tags: true
    repo: BarkleyREI/generator-brei-app
