---
title: "<%= name %>"
layout: module.hbs
module: true
---

<!-- module:<%= name %> -->
<% if (tag != "div") { %><%- "<" + tag + " class=\"" + name + "\">\n    " + name + "\n</" + tag + ">" %><% } else { %>
<div class="<%= name %>">
	<%= name %>
</div>
<% } %>
<!-- end module:<%= name %> -->
