---
title: "<%= name %>"
layout: module.hbs
module: true
---

<% if (tag != "div") { %><%- "<" + tag + " class=\"" + name + "\" data-module=\"" + name + "\">\n    " + name + "\n</" + tag + ">" %><% } else { %>
<div class="<%= name %>" data-module="<%= name %>">
	<%= name %>
</div>
<% } %>
