---
title: <%= name %>
template: true
---

<% if (tag != "div") { %><%- "<" + tag + " class=\"" + name + "\" data-template=\"" + name + "\">\n    " + name + "\n</" + tag + ">" %><% } else { %>
<div class="<%= name %>" data-template="<%= name %>">
	<%= name %>
</div>
<% } %>
