---
title: <%= name %>
template: true
---

<!-- template:<%= name %> -->
<% if (tag != "div") { %><%- "<" + tag + " class=\"" + name + "\">\n    " + name + "\n</" + tag + ">" %><% } else { %>
<div class="<%= name %>">
	<%= name %>
</div>
<% } %>
<!-- end template:<%= name %> -->
