---
title: "<%= pretty %>"
template: true
styles:
- main
scripts:
- vendor
- main
---

<!-- template:<%= name %> -->
{{#parseFixture '<%= name %>.json'}}
<main id="main" class="main <%= name %>">

	<h1><%= pretty %></h1>

</main>
{{/parseFixture}}
<!-- end template:<%= name %> -->
