---
title: "<%= pretty %>"
template: true
---

<!-- template:<%= name %> -->
<% if (tag != "div") { %><%- "{{#parseFixture '" + name + ".json'}}\n<" + tag + " class=\"" + name + "\">\n    " + pretty + "\n</" + tag + ">\n{{/parseFixture}}" %>
<% } else { %>{{#parseFixture '<%= name %>.json'}}
<main id="main" class="main">
	<%= pretty %>
</main>
{{/parseFixture}}
<% } %><!-- end template:<%= name %> -->
